<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>

  </section>
<br><br>
<h2>Destinations</h2>
<form action="/flights/<%= flight._id %>/destinations" id="add-destination-form" method="POST">
    <label>Destination: </label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= d.createdAt.toLocaleDateString() %></td>
            <td><%= d.airport %></td>
            
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

<%- include('../partials/footer') %>